/* ========== google fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* ========= variables css ====== */
:root {
    --header-height: 3rem;

    /* ====== colors ====== */
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --container-color: ;
    --container-color-alt: ;
}

/* ======== general elements */
body {
    font-family: roboto;
}

a {
    text-decoration: none;
    color: #000000 
}

/* ======== header =========== */
.header-style {
    background-image: url("imgs/header-image.jpg");
    background-size: 65rem;
}

.layer {
    background-color: rgba(77, 122, 51, 0.7);
}

.intro {
    margin-left: 28rem;
    margin-right:28rem;
    color:#ffffff;
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

button{
    color: #295518;
    background-color:#FFC107;
    font-size: medium;
    padding: 1%;
    border-radius: 15%;
    font-family: roboto;
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    margin-left: 38rem;
    margin-right: 38rem;
}
/* =========== nav =========== */
nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-left: 5rem;
    font-size:large ;
    margin-bottom: 5rem;
}
nav ul{
    margin-left: 40rem;
    font-size:medium;
}

nav li{
    display: inline;
    margin: 2rem;
}
li a {
    color: #ffffff;
    text-decoration: none;
}
li a:hover{
    color:cadetblue;
}

/* ========== Sections ========= */
.section-titles{
    text-align: center;
    font-weight: 600;
}

/* ======== Projects ========*/

.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}
.project-item{
    flex-grow: 1;
    
    text-align: center;
}
.project-image{
    width: 20rem;
    height: 15rem;
}

.experience-section{
background-color: #71935d;
padding-top: 1rem;
padding-left: 10rem;
padding-right: 10rem;
padding-bottom: 1rem;
}
.experience-title{
    text-align: center;
    color:#ffffff;
    font-weight: 400;
}

.experience-container{
    display: flex;
    background-color: #99bd84;
    border-color: #FFC107;
    border-width: 1px;
    border-radius: 5%;
    border-style: solid;
    padding: 1rem;
    margin: 2rem;
}
.experience-item-logo{
    flex-grow: 1;
    margin-right:2rem;
}
.experience-item-text{
    flex-grow: 1;
}