/* ========== google fonts ====== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


/* ======== general elements */
html{
    font-size: 14px;
}

body {
    font-family: roboto;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

/* ======== header =========== */
.header-style {
    background-image: linear-gradient(to bottom right,rgba(77, 122, 51, 0.7),
    rgba(77, 122, 51, 0.7) ), url("imgs/header-image.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
display: flex;
flex-direction: column;
height: 100%;
justify-content: center;
}

.intro {
    margin-left: auto;
    margin-right:auto;
    color:#ffffff;
    font-weight: 300;
    font-size: 4.5rem;
    text-align: center;
    padding:0 1rem;
}

.button{
    color: #295518;
    background-color:#FFC107;
    font-size: medium;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    border-bottom: 4px solid #daa507e7;
    box-shadow: 0 1rem 1rem rgba(17, 29, 4, 0.2);
    font-family: roboto;
    align-self: center;
    display: block;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    position:static;

}


/* =========== nav =========== */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-left: 2rem;
    font-size:large ;
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    box-sizing: border-box;
    height: 5rem;
}

 nav .name {
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-handler {
    align-self: center;
    align-items: flex-end;
    flex-flow: column nowrap;
    justify-content: space-around;
    border-radius: 4px;
    margin: 4px;
    height: 2.5rem;
    width: 2.5rem;
    padding: .8rem 1.2rem;
    cursor: pointer;
    transition: 0.3s ease-out;
    display: none;
}

.bar{

    width: 2.5rem;
    height: 3px;
    background: #ffffff;
    border-radius: 8px;
    display: inline-block;
    transition: inherit;
}

.bar:nth-child(2) {
    width: 1.5rem;
    align-self: flex-end;
}
nav ul{
    font-size:medium;
}

nav li{
    display: inline;
    margin: 2rem;
}
li a {
    color: #ffffff;
    text-decoration: none;
}
li a:hover{
    color:#FFC107;
}

/* ========== Sections ========= */
.section-titles{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
section div a:hover{
    color:#FFC107;
}


/* ======== Projects ========*/

.project-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;

}
.project-item{
    flex-grow: 1;
    text-align: center;
    flex-basis: 80%;
    max-width: 20rem;
    margin: 0 2rem;
}
.project-image{
    width: 100%;
    height: 60%;
}

.experience-section{
    background-color: #71935d;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}
.experience-title{
    text-align: center;
    color:#ffffff;
    font-weight: 400;
    font-size: 28px;
}

.experience-container{
    display: flex;
    background-color: #99bd84;
    border-right: 2px solid #FFC107;
    border-radius: 8px;
    box-shadow: 0px 4px 15px -5px #3b572b;
    padding: 1rem;
    margin: 2rem auto;
    width:80%;
    max-width: 680px;
}

.experience-item-logo{
    flex-grow: 1;
    margin-right:2rem;
    height: 100px;
    width: 120px;
    align-self: center;
    border-radius: 5px;
    margin-top: 10%
}
.experience-item-text{
    flex-grow: 1;
}

.experience-text {
    color: #313131;
    line-height: 160%;
    font-size: 13px;
}


/* ======= Skills and Certs ======= */

.skills-and-certs{
    display: flex;
    padding-bottom: 5rem;
}
.sub-section-titles{
    text-align: center;
    
}

.skills-section{
    flex-grow: 1;
    max-width: 40%;
    margin: 0 5%;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-self: center;
}


.skills-item{
    flex-grow: 1;
    text-align: center;
    flex-basis: 30%;
    max-width: 5rem;
    margin: 1rem 1rem;
    background-color: #DCF0DD;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.skills-logos{
    width: 55px;
}


.vertical-line{
    border-left: 1px solid #C4C4C4;
    min-height: 26rem;
    position: absolute;
    left: 50%;
    flex-grow: 1;
}

.certs-section{
    margin: 0 5%;
    flex-grow: 1;
    max-width: 40%;
    align-items: left;
}

.certs{
    display: flex;
    flex-direction: column;
}
.cert-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cert-item{
    flex-grow: inherit;
}
.certs-logos{
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

/* ============ contact section ============== */
.contact-section{
    background-color: #71935D;
    padding: 5% 10%;
}
.contact-container{
    display: flex;
    justify-content:center;
}
.contact-item{
    margin: 0 10px;
    width: 40px;
    height: 40px
}

/* ======== for smaller screens(960 and below) ======== */

@media screen and (max-width:960px){
    .skills-item{
        flex-basis: 10%;
        margin: 2%;
        padding: 3%;
    }
    .skills-item p{
        margin-top: 4px;
    }
    }

@media screen and (max-width:750px){
    .nav-handler{
        display: flex;
    }
    nav ul{
        display: none;
    }

    /* ========= nav open state ====== */
    nav.open{
        background: transparent;
    }


    nav.open ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute; /* parent(nav.open) must have a position */
    top:3.75rem;
    right:0;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2rem);
    margin-right: 20.8px;
    border-radius: 5px;
    }   

    nav.open ul li{
        display: flex;
        justify-content: center;
    }


    nav.open ul li a {
        color: rgba(77, 122, 51, 0.8);
        text-align: center;
    }
    
    .experience-container{
        flex-direction: column;
        max-width: 400px;
        border-bottom: 2px solid #FFC107;
        border-right: none;
    }
    .experience-item-logo{
        width: 90%;
        height: 120px;
        margin-right: 0;
        margin-left: 5%;
        margin-top: 0%
    }
    
}

@media screen and (max-width:630px){
    .skills-and-certs{
        flex-direction: column;
        align-items: center;
    }
    .vertical-line{
        display: none;
    }
    .skills-section{
        margin-bottom: 5%;
    }
    }


@media screen and (max-width:500px){
    .intro{
        font-size: 2rem;
    }
    .contact-item{
        width: 30px;
        height: 30px
    }
}

